@import "tailwindcss";

@config "../../tailwind.config.ts";

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes slow-pulse {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 0.4;
        transform: scale(1.1);
    }
}

.slow-pulse {
    animation: slow-pulse 5s infinite ease-in-out;
}


.weightGrow {
    transition: text-shadow 0.2s ease-in-out;
}

.weightGrow:hover {
    text-shadow: 0 0 2px #EAF3F6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.data-\[loaded\=true\]\:opacity-100 {
  opacity: 1; /*TODO : Check https://github.com/heroui-inc/heroui/issues/4534*/
}

.react-pdf__Page.prevPage {
  position: absolute !important;
  z-index: 20;
}

/* Regular and Italic */
/* Importation des différentes variantes de Bogart */

/* Importation des différentes variantes de Bogart */
@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTREGULARTRIAL.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTITALICTRIAL.TTF") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTMEDIUMTRIAL.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTSEMIBOLDTRIAL.TTF") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTBOLDTRIAL.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTEXTRABOLDTRIAL.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTBLACKTRIAL.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTLIGHTTRIAL.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTEXTRALIGHTTRIAL.TTF") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bogart";
  src: url("/fonts/BOGARTALTTHINTRIAL.TTF") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@theme {
    --color-white: #EAF3F6;
    --color-black: #111A27;
    --color-stroke: #383838;
    --color-gray: rgba(242, 117, 0, 0.06);
    --color-gray-light: rgba(234, 243, 246, 0.7);
    --color-blue-gray: rgba(123, 126, 252, 0.14);
    --color-purple: #5469BA;

    --color-foreground: #EAF3F6;

    --font-bogart: "Bogart", sans-serif;
}

