name: CI Test for PRs

on:
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v5

            -   name: Create missing .env files
                run: |
                    cp .env.dist .env || true
                    cp nextjs/.env.dist nextjs/.env || true
                    cp strapi/.env.dist strapi/.env || true

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build images for current branch
                run: |
                    docker compose -f compose.ci.yml build

            -   name: Start services
                run: docker compose -f compose.ci.yml up -d strapi nextjs

            -   name: Wait for services to be healthy
                run: |
                    # exemple: attendre Strapi & Next (si tu as mis des healthchecks)
                    docker compose -f compose.ci.yml ps

            -   name: Run Playwright tests
                run: docker compose -f compose.ci.yml run --rm tests

            -   name: Stop and clean up
                if: always()
                run: docker compose -f compose.ci.yml down -v
