name: CI Test for PRs

on:
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v5

            -   name: Create missing .env files
                run: |
                    cp .env.dist .env
                    cp nextjs/.env.dist nextjs/.env
                    cp strapi/.env.dist strapi/.env
                    
                    echo "APP_KEYS=$(node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"),$(node -e "console.log(require('crypto').randomBytes(32).toString('base64'))")" >> strapi/.env
                    echo "API_TOKEN=$(node -e "console.log(require('crypto').randomBytes(16).toString('base64'))")" >> strapi/.env
                    echo "API_TOKEN_SALT=$(node -e "console.log(require('crypto').randomBytes(16).toString('base64'))")" >> strapi/.env
                    echo "ADMIN_JWT_SECRET=$(node -e "console.log(require('crypto').randomBytes(16).toString('base64'))")" >> strapi/.env
                    echo "TRANSFER_TOKEN_SALT=$(node -e "console.log(require('crypto').randomBytes(16).toString('base64'))")" >> strapi/.env
                    echo "JWT_SECRET=$(node -e "console.log(require('crypto').randomBytes(16).toString('base64'))")" >> strapi/.env

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build images for current branch
                run: docker compose -f compose.ci.yml build

            -   name: Start services
                run: docker compose -f compose.ci.yml up -d nextjs strapi

            -   name: Run Playwright tests
                run: docker compose -f compose.ci.yml run --rm tests

            -   name: Upload CTRF test report
                if: always()
                uses: actions/upload-artifact@v4
                with:
                    name: ctrf-report
                    path: playwright-report/ctrf-report.json
                    retention-days: 7

            -   name: Publish Test Report
                uses: ctrf-io/github-test-reporter@v1
                with:
                    report-path: 'playwright-report/ctrf-report.json'
                    summary-delta-report: true
                    insights-report: true
                    flaky-rate-report: true
                    fail-rate-report: true
                    slowest-report: true
                    upload-artifact: true
                if: always()

            -   name: Stop and clean up
                if: always()
                run: docker compose -f compose.ci.yml down -v
